body{
    background-image: url('https://fthmb.tqn.com/atGYf5Szeg2I_jZUcypsUxEr1lo=/960x0/filters:no_upscale()/GettyImages-182789593-5976401e9abed500113e1705.jpg');
    /*background-color: #E8E9EB;*/
    /*filter:blur(5px);*/
    background-size: cover;
}

.login-card{
    width:30%;
    top:100px;
    background-color: rgba(0,0,0,0.5);
}

.login-container{
    padding: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}


#error-msg-container{
    padding:5px;
    text-align: center;
    height: 40px;
    width:100%;
}
