.navbar {
    background-color: rgba(0, 0, 0, 0);
}

#logo-img {
    height:100px;
}

#profile-img {
    border-radius: 50%;
    height:50px;
}

.restau-card {
    border: none;
}

.nav-bar-btn {
    display: inline-block;
}
.nav-btn-group{
    display: inline-flex;
}
